@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter';
}


.container {
    background-color: #1a1919;
    width: 100%;
    height: 100vh;

    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 155px;

    flex-wrap: wrap;
}


.infos {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.infos h1 {
    font-size: 85px;
    letter-spacing: 4px;
}

.infos h3 {
    font-size: 25px;
    color: #7C7C8A;
    font-weight: 200;
}


.calculator {
    margin-top: 55px;
}

.buttons {
    display: flex;
    gap: 15px;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}

.buttons button {
    background-color: #81D8F7;
    border-radius: 4px;
    width: 100px;
    height: 25px;

    border: none;
    padding: 14px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

button:hover {

    transform: scale(1.1);
    transition: ease-in-out 0.4s;
}


.container h5 {
    position: absolute;
    bottom: 15px;
    left: 15px;

    font-size: 18x;

    font-family: 'Courier New', Courier, monospace;

}


@media (max-width: 600px) {
    .infos h1 {
        font-size: 45px;
        letter-spacing: 4px;
    }


}